.App {
  width: 100%;
  height: 100%;
}

/* fixed css for header in all app pages, html in offers page */
.app-header {
  width: 100%;
  background: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.search-bar {
  flex: 1;
  margin: 0 20px;
}
.search-bar input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
.connect-wallet {
  background: #28a745;
  color: white;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
}
.connect-wallet:hover {
  background: #218838;
}


.__Modal__Overlay__ {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 999999;
}
.__Modal__Overlay__ button {
  border: 1px solid transparent;
  outline: none;
}
.__Modal__Container__ {
  border-radius: 10px;
  max-width: 100%;
  height: max-content;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 4px 3px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.__Modal__Container__ span, .__Modal__Container__ p, .__Modal__Container__ svg {
  opacity: 0.85;
}
.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 0px;
  padding-top: 0px;
  position: sticky;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 2;
}
.modal-header.j-between {
  justify-content: space-between;
}
.modal-close-btn {
  width: max-content;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.mcb-icon {
  width: 19px;
  height: 19px;
}
.modal-close-btn:hover {
  background-color: rgba(18, 18, 18, 0.08);
}
.modal button:active, .modal button:focus {
  border: 1px solid rgba(255, 255, 255, 0.21);
}
.modal-body h3 {
  margin: 0px;
  padding: 0px;
  padding-bottom: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}
.modal-body p {
  margin: 0px 0px;
  text-align: center;
  font-weight: 300;
  opacity: 0.8;
}
.modal-base {
  position: sticky;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  width: 100%;
  padding: 10px;
  /* border-top: 1px solid rgba(255, 255, 255, 0.12); */
}
.modal-header, .modal-base {
  background-color: rgb(250, 250, 250);
}
.__Modal__Container__ > div {
  height: 100%;
}
.modal-header, .modal-body, .modal-base {
  padding: 12px 18px;
}
.modal-body {
  width: 100%;
  margin-top: 0px;
  padding-top: 0px !important;
}
button {
  border: 1px solid transparent;
  outline: none;
}